/* Footer form for Subscribe */

.footer-subscribe {
  @media screen and (max-width: 1199px) {
    text-align: center;
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    margin-left: auto;
    margin-right: 0;
  }
}

.subscribe-form {
  &__email {
    color: $primary-white-color;
    font-weight: normal;
    padding: 15px 16px;
    margin-right: 12px;
    margin-bottom: 20px;

    @media screen and (max-width: 479px) {
      width: 100%;
    }

    @media screen and (min-width: 480px) {
      width: 450px;
      display: block;
      margin-right: auto;
      margin-left: auto;
    }

    @media screen and (min-width: 1200px) {
      display: inline-block;
      margin-right: 12px;
      margin-bottom: 0px;
      width: 358px;
    }

    height: 50px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
  }

  &__email::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  &__submit {
    display: inline-flex;
    justify-content: center;

    align-items: center;

    min-width: 200px;
    padding: 10px 0;
    color: $primary-white-color;
    background-color: $accent-color;
    border: 0px transparent solid;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
  }

  &__submit::after {
    content: '';

    margin-left: 10px;
    width: 24px;
    height: 24px;
    background-image: url(../images/icon-send.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
