/* Logo in Header  */

.header__logo {
  @extend %logo;
  margin-right: 88px;
  padding: 24px 0;
  color: $primary-black-color;

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.logo-accent {
  color: $accent-color;
}
