/* Page Footer  */

.footer {
  padding: 60px 0;
  background-color: $temporary-bg-color;

  &__container {
    display: flex;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }

    @media screen and (min-width: 768px) {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    @media screen and (min-width: 1200px) {
      align-items: baseline;
    }
  }

  &__title {
    margin-bottom: 20px;
    color: $primary-white-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}

@import './footer-contacts';
@import './footer-socials';
@import './footer-subscribe';
