/* Features section */

.features-section {
  @extend %section;

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  &__item {
    width: 100%;
    margin: 15px;

    @media screen and (min-width: 768px) {
      width: calc((100% - 60px) / 2);
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 120px) / 4);
    }
  }

  &__icon {
    width: 100%;
    padding: 25px 0;
    margin-bottom: 30px;
    background-color: $grey-background-color;
    border-radius: 4px;
    overflow: hidden;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;
    color: $title-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__text {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
