/* Clients section */

.clients-section {
  @extend %section;

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  &__item {
    margin: 15px;

    @media screen and (max-width: 767px) {
      width: calc((100% - 60px) / 2);
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: calc((100% - 90px) / 3);
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 180px) / 6);
    }
  }

  &__link {
    display: flex;
    height: 90px;
    border: 1px solid $grey-icons-color;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    fill: $grey-icons-color;

    transition: fill 250ms $animation-timing-function,
      border-color 250ms $animation-timing-function;

    &:hover {
      border: 1px solid $accent-color;
      fill: $accent-color;
    }
  }
}
