/* Team section */

.team-section {
  @extend %section;
  background-color: $grey-background-color;

  &__list {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 1.18;
  }

  &__item {
    width: 100%;

    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: calc((100% - 30px) / 2);
      &:not(:nth-child(2n)) {
        margin-right: 30px;
      }
      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 0px;

      width: calc((100% - 90px) / 4);

      &:not(:nth-child(4n)) {
        margin-right: 30px;
      }
    }

    background-color: $primary-white-color;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__image {
    display: block;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 30px;
  }

  &__name {
    margin-top: 0;
    margin-bottom: 10px;
    color: $title-text-color;

    font-weight: 500;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__position {
    margin-top: 0px;
    margin-bottom: 30px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  &__social-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: $grey-icons-color;

    transition: color 750ms $animation-timing-function,
      background-color 750ms $animation-timing-function;
  }

  &__social-icon:not(:last-child) {
    margin-right: 10px;
  }

  &__social-icon:hover {
    background-color: $accent-color;
    fill: $primary-white-color;
  }
}
