/* Works section */
.works-section {
  @media screen and (max-width: 1199px) {
    display: none;
  }

  @extend %section;
  padding-top: 0px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  &__item {
    margin: 15px;
    position: relative;
  }

  &__type {
    position: absolute;
    width: 370px;
    bottom: 0;
    left: 0;

    margin: 0;
    padding: 25px 0;

    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    background-color: $transparent-grey-color;
    color: #ffffff;
  }
}
