html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: $primary-white-color;
  color: $primary-text-color;
  letter-spacing: 0.03em;
  font-family: $primary-font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.centred {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 0;
  color: $title-text-color;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}
