$primary-text-color: #757575;
$title-text-color: #212121;
$primary-white-color: #ffffff;
$primary-black-color: #000000;
$accent-color: #2196f3;
$grey-icons-color: #afb1b8;
$grey-background-color: #f5f4fa;
$temporary-bg-color: #2f303a;
$transparent-white-color: rgba(255, 255, 255, 0.6);
$transparent-white-color-01: rgba(255, 255, 255, 0.1);
$transparent-grey-color: rgba(47, 48, 58, 0.8);
$transparent-blue-color: rgba(33, 150, 243, 0.9);
$transparent-backdrop: rgba(0, 0, 0, 0.2);
$form-border-colors: rgba(33, 33, 33, 0.2);
$animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
